@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
        overflow: overlay;
    }
    html {
        scroll-behavior: smooth;
        @apply scroll-pt-10;
    }
     ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        @apply bg-transparent;
    }
     ::-webkit-scrollbar-thumb {
        @apply bg-gray-900;
        border-radius: 20px;
    }
     ::-webkit-scrollbar-thumb:hover {
        @apply bg-gray-600;
    }
     ::-webkit-scrollbar-track {
        @apply w-0;
    }
}

@layer utilities {
    .st2 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        @apply fill-white;
    }
    .cursor {
        animation-duration: 2000ms;
    }
    .clicked {
        @apply opacity-20;
        @apply border-4;
        @apply border-gray-900;
        transform: scale(1.7);
        @apply bg-gray-600;
    }
    .loaded .body {
        @apply block;
    }
    .loaded .loader {
        display: none;
    }
    .load {
        width: 8px;
        height: 40px;
        border-radius: 4px;
        display: block;
        margin: 20px auto;
        position: relative;
        background: currentColor;
        color: #FFF;
        box-sizing: border-box;
        animation: animloader 0.3s 0.3s linear infinite alternate;
    }
    .load::after,
    .load::before {
        content: '';
        width: 8px;
        height: 40px;
        border-radius: 4px;
        background: currentColor;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        animation: animloader 0.3s 0.45s linear infinite alternate;
    }
    .load::before {
        left: -20px;
        animation-delay: 0s;
    }
    @keyframes animloader {
        0% {
            height: 48px
        }
        100% {
            height: 4px
        }
    }
    .scrolled {
        @apply -translate-y-full;
    }
    .scrolled .menu-btn {
        @apply -bottom-20;
    }
    .scrolled .menu {
        @apply top-20;
    }
    .hero-text span,
    .show-heading span {
        animation: text 500ms forwards;
    }
    .menu.show-menu {
        @apply opacity-100;
        @apply h-screen;
        background: rgba(255, 255, 255, 0.918);
    }
    .menu.show-menu a {
        @apply transition-transform;
        @apply duration-500;
        @apply transform-none;
    }
    .open-menu .btn-1 {
        @apply -translate-y-full;
    }
    .open-menu .btn-2 {
        @apply -translate-y-4;
    }
    @keyframes text {
        to {
            @apply translate-y-0;
        }
    }
    .arch {
        transform: translateY(300px);
        animation: text 400ms forwards;
    }
    .cta {
        @apply opacity-100;
        animation: text 400ms 800ms forwards;
    }
    @keyframes cube {
        from {
            transform: scale(0) translate(0%, 0%);
            opacity: 1;
        }
        to {
            transform: scale(8) translate(0%, 10vh);
            opacity: 0;
        }
    }
    .background::before {
        background: radial-gradient(at center bottom, rgba(255, 162, 86, 0.356), rgba(253, 71, 71, 0.726));
    }
    .background {
        background-color: #ffa6001a;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1420' height='700' preserveAspectRatio='none' viewBox='0 0 1420 700'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1033%26quot%3b)' fill='none'%3e%3cpath d='M67.68 -58.65L132.63 -21.15L132.63 53.85L67.68 91.35L2.73 53.85L2.73 -21.15zM197.59 -58.65L262.54 -21.15L262.54 53.85L197.59 91.35L132.63 53.85L132.63 -21.15zM327.5 -58.65L392.45 -21.15L392.45 53.85L327.5 91.35L262.54 53.85L262.54 -21.15zM392.45 503.85L457.4 541.35L457.4 616.35L392.45 653.85L327.5 616.35L327.5 541.35zM522.36 53.85L587.31 91.35L587.31 166.35L522.36 203.85L457.4 166.35L457.4 91.35zM522.36 278.85L587.31 316.35L587.31 391.35L522.36 428.85L457.4 391.35L457.4 316.35zM457.4 391.35L522.36 428.85L522.36 503.85L457.4 541.35L392.45 503.85L392.45 428.85zM457.4 616.35L522.36 653.85L522.36 728.85L457.4 766.35L392.45 728.85L392.45 653.85zM652.26 278.85L717.22 316.35L717.22 391.35L652.26 428.85L587.31 391.35L587.31 316.35zM652.26 503.85L717.22 541.35L717.22 616.35L652.26 653.85L587.31 616.35L587.31 541.35zM782.17 53.85L847.13 91.35L847.13 166.35L782.17 203.85L717.22 166.35L717.22 91.35zM782.17 278.85L847.13 316.35L847.13 391.35L782.17 428.85L717.22 391.35L717.22 316.35zM782.17 503.85L847.13 541.35L847.13 616.35L782.17 653.85L717.22 616.35L717.22 541.35zM912.08 53.85L977.03 91.35L977.03 166.35L912.08 203.85L847.13 166.35L847.13 91.35zM912.08 278.85L977.03 316.35L977.03 391.35L912.08 428.85L847.13 391.35L847.13 316.35zM912.08 503.85L977.03 541.35L977.03 616.35L912.08 653.85L847.13 616.35L847.13 541.35zM977.03 -58.65L1041.99 -21.15L1041.99 53.85L977.03 91.35L912.08 53.85L912.08 -21.15zM977.03 166.35L1041.99 203.85L1041.99 278.85L977.03 316.35L912.08 278.85L912.08 203.85zM1041.99 503.85L1106.94 541.35L1106.94 616.35L1041.99 653.85L977.03 616.35L977.03 541.35zM1106.94 -58.65L1171.89 -21.15L1171.89 53.85L1106.94 91.35L1041.99 53.85L1041.99 -21.15zM1106.94 391.35L1171.89 428.85L1171.89 503.85L1106.94 541.35L1041.99 503.85L1041.99 428.85zM1236.85 -58.65L1301.8 -21.15L1301.8 53.85L1236.85 91.35L1171.89 53.85L1171.89 -21.15zM1236.85 166.35L1301.8 203.85L1301.8 278.85L1236.85 316.35L1171.89 278.85L1171.89 203.85zM1301.8 503.85L1366.75 541.35L1366.75 616.35L1301.8 653.85L1236.85 616.35L1236.85 541.35zM1236.85 616.35L1301.8 653.85L1301.8 728.85L1236.85 766.35L1171.89 728.85L1171.89 653.85zM1366.76 166.35L1431.71 203.85L1431.71 278.85L1366.76 316.35L1301.8 278.85L1301.8 203.85z' stroke='rgba(166%2c 250%2c 233%2c 0.05)' stroke-width='2'%3e%3c/path%3e%3cpath d='M60.18 -58.65 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM125.13 -21.15 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM125.13 53.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM60.18 91.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-4.77 53.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-4.77 -21.15 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM190.09 -58.65 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM255.04 -21.15 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM255.04 53.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM190.09 91.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM320 -58.65 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM384.95 -21.15 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM384.95 53.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM320 91.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM384.95 503.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM449.9 541.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM449.9 616.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM384.95 653.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM320 616.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM320 541.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM514.86 53.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM579.81 91.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM579.81 166.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM514.86 203.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM449.9 166.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM449.9 91.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM514.86 278.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM579.81 316.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM579.81 391.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM514.86 428.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM449.9 391.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM449.9 316.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM514.86 503.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM384.95 428.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM514.86 653.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM514.86 728.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM449.9 766.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM384.95 728.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM644.76 278.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM709.72 316.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM709.72 391.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM644.76 428.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM644.76 503.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM709.72 541.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM709.72 616.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM644.76 653.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM579.81 616.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM579.81 541.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM774.67 53.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM839.63 91.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM839.63 166.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM774.67 203.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM709.72 166.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM709.72 91.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM774.67 278.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM839.63 316.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM839.63 391.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM774.67 428.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM774.67 503.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM839.63 541.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM839.63 616.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM774.67 653.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM904.58 53.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM969.53 91.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM969.53 166.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM904.58 203.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM904.58 278.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM969.53 316.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM969.53 391.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM904.58 428.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM904.58 503.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM969.53 541.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM969.53 616.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM904.58 653.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM969.53 -58.65 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1034.49 -21.15 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1034.49 53.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM904.58 -21.15 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1034.49 203.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1034.49 278.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1034.49 503.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1099.44 541.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1099.44 616.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1034.49 653.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1099.44 -58.65 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1164.39 -21.15 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1164.39 53.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1099.44 91.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1099.44 391.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1164.39 428.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1164.39 503.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1034.49 428.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1229.35 -58.65 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1294.3 -21.15 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1294.3 53.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1229.35 91.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1229.35 166.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1294.3 203.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1294.3 278.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1229.35 316.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1164.39 278.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1164.39 203.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1294.3 503.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1359.25 541.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1359.25 616.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1294.3 653.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1229.35 616.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1229.35 541.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1294.3 728.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1229.35 766.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1164.39 728.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1164.39 653.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1359.26 166.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1424.21 203.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1424.21 278.85 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1359.26 316.35 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='rgba(166%2c 250%2c 233%2c 0.005)'%3e%3c/path%3e%3cpath d='M33.56 -23.28L76.86 1.72L76.86 51.72L33.56 76.72L-9.74 51.72L-9.74 1.72zM33.56 126.72L76.86 151.72L76.86 201.72L33.56 226.72L-9.74 201.72L-9.74 151.72zM76.86 351.72L120.17 376.72L120.17 426.72L76.86 451.72L33.56 426.72L33.56 376.72zM76.86 501.72L120.17 526.72L120.17 576.72L76.86 601.72L33.56 576.72L33.56 526.72zM33.56 576.72L76.86 601.72L76.86 651.72L33.56 676.72L-9.74 651.72L-9.74 601.72zM76.86 651.72L120.17 676.72L120.17 726.72L76.86 751.72L33.56 726.72L33.56 676.72zM120.17 -23.28L163.47 1.72L163.47 51.72L120.17 76.72L76.86 51.72L76.86 1.72zM163.47 51.72L206.77 76.72L206.77 126.72L163.47 151.72L120.17 126.72L120.17 76.72zM163.47 201.72L206.77 226.72L206.77 276.72L163.47 301.72L120.17 276.72L120.17 226.72zM120.17 576.72L163.47 601.72L163.47 651.72L120.17 676.72L76.86 651.72L76.86 601.72zM163.47 651.72L206.77 676.72L206.77 726.72L163.47 751.72L120.17 726.72L120.17 676.72zM250.07 351.72L293.38 376.72L293.38 426.72L250.07 451.72L206.77 426.72L206.77 376.72zM250.07 501.72L293.38 526.72L293.38 576.72L250.07 601.72L206.77 576.72L206.77 526.72zM206.77 576.72L250.07 601.72L250.07 651.72L206.77 676.72L163.47 651.72L163.47 601.72zM293.38 -23.28L336.68 1.72L336.68 51.72L293.38 76.72L250.07 51.72L250.07 1.72zM336.68 51.72L379.98 76.72L379.98 126.72L336.68 151.72L293.38 126.72L293.38 76.72zM293.38 126.72L336.68 151.72L336.68 201.72L293.38 226.72L250.07 201.72L250.07 151.72zM336.68 351.72L379.98 376.72L379.98 426.72L336.68 451.72L293.38 426.72L293.38 376.72zM336.68 501.72L379.98 526.72L379.98 576.72L336.68 601.72L293.38 576.72L293.38 526.72zM293.38 576.72L336.68 601.72L336.68 651.72L293.38 676.72L250.07 651.72L250.07 601.72zM379.98 126.72L423.28 151.72L423.28 201.72L379.98 226.72L336.68 201.72L336.68 151.72zM423.28 201.72L466.59 226.72L466.59 276.72L423.28 301.72L379.98 276.72L379.98 226.72zM379.98 276.72L423.28 301.72L423.28 351.72L379.98 376.72L336.68 351.72L336.68 301.72zM423.28 351.72L466.59 376.72L466.59 426.72L423.28 451.72L379.98 426.72L379.98 376.72zM379.98 576.72L423.28 601.72L423.28 651.72L379.98 676.72L336.68 651.72L336.68 601.72zM466.59 -23.28L509.89 1.72L509.89 51.72L466.59 76.72L423.28 51.72L423.28 1.72zM553.19 -23.28L596.49 1.72L596.49 51.72L553.19 76.72L509.89 51.72L509.89 1.72zM553.19 126.72L596.49 151.72L596.49 201.72L553.19 226.72L509.89 201.72L509.89 151.72zM639.8 -23.28L683.1 1.72L683.1 51.72L639.8 76.72L596.49 51.72L596.49 1.72zM769.7 51.72L813.01 76.72L813.01 126.72L769.7 151.72L726.4 126.72L726.4 76.72zM769.7 201.72L813.01 226.72L813.01 276.72L769.7 301.72L726.4 276.72L726.4 226.72zM726.4 276.72L769.7 301.72L769.7 351.72L726.4 376.72L683.1 351.72L683.1 301.72zM856.31 501.72L899.61 526.72L899.61 576.72L856.31 601.72L813.01 576.72L813.01 526.72zM813.01 576.72L856.31 601.72L856.31 651.72L813.01 676.72L769.7 651.72L769.7 601.72zM856.31 651.72L899.61 676.72L899.61 726.72L856.31 751.72L813.01 726.72L813.01 676.72zM899.61 -23.28L942.91 1.72L942.91 51.72L899.61 76.72L856.31 51.72L856.31 1.72zM942.91 51.72L986.22 76.72L986.22 126.72L942.91 151.72L899.61 126.72L899.61 76.72zM899.61 126.72L942.91 151.72L942.91 201.72L899.61 226.72L856.31 201.72L856.31 151.72zM942.91 351.72L986.22 376.72L986.22 426.72L942.91 451.72L899.61 426.72L899.61 376.72zM899.61 426.72L942.91 451.72L942.91 501.72L899.61 526.72L856.31 501.72L856.31 451.72zM942.91 651.72L986.22 676.72L986.22 726.72L942.91 751.72L899.61 726.72L899.61 676.72zM1029.52 51.72L1072.82 76.72L1072.82 126.72L1029.52 151.72L986.22 126.72L986.22 76.72zM1029.52 201.72L1072.82 226.72L1072.82 276.72L1029.52 301.72L986.22 276.72L986.22 226.72zM986.22 276.72L1029.52 301.72L1029.52 351.72L986.22 376.72L942.91 351.72L942.91 301.72zM1029.52 351.72L1072.82 376.72L1072.82 426.72L1029.52 451.72L986.22 426.72L986.22 376.72zM986.22 576.72L1029.52 601.72L1029.52 651.72L986.22 676.72L942.91 651.72L942.91 601.72zM1029.52 651.72L1072.82 676.72L1072.82 726.72L1029.52 751.72L986.22 726.72L986.22 676.72zM1072.82 126.72L1116.12 151.72L1116.12 201.72L1072.82 226.72L1029.52 201.72L1029.52 151.72zM1116.12 501.72L1159.42 526.72L1159.42 576.72L1116.12 601.72L1072.82 576.72L1072.82 526.72zM1159.42 -23.28L1202.73 1.72L1202.73 51.72L1159.42 76.72L1116.12 51.72L1116.12 1.72zM1202.73 201.72L1246.03 226.72L1246.03 276.72L1202.73 301.72L1159.42 276.72L1159.42 226.72zM1159.42 276.72L1202.73 301.72L1202.73 351.72L1159.42 376.72L1116.12 351.72L1116.12 301.72zM1202.73 351.72L1246.03 376.72L1246.03 426.72L1202.73 451.72L1159.42 426.72L1159.42 376.72zM1159.42 576.72L1202.73 601.72L1202.73 651.72L1159.42 676.72L1116.12 651.72L1116.12 601.72zM1289.33 651.72L1332.63 676.72L1332.63 726.72L1289.33 751.72L1246.03 726.72L1246.03 676.72zM1332.63 126.72L1375.94 151.72L1375.94 201.72L1332.63 226.72L1289.33 201.72L1289.33 151.72zM1332.63 576.72L1375.94 601.72L1375.94 651.72L1332.63 676.72L1289.33 651.72L1289.33 601.72zM1462.54 201.72L1505.85 226.72L1505.85 276.72L1462.54 301.72L1419.24 276.72L1419.24 226.72z' stroke='rgba(0%2c 0%2c 0%2c 0.051)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1033'%3e%3crect width='1420' height='700' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    }
    .bio.show-about::after,
    .bio.show-about::before,
    .bio.show-about section::after {
        @apply transform-none;
    }
    .show-about .about-name,
    .show-about .about-text {
        @apply transform-none;
        @apply opacity-100;
    }
    .animate-service::after {
        border-color: rgb(0, 0, 0);
        @apply transform-none;
    }
    .animate-service {
        @apply opacity-100;
        @apply transform-none;
    }
    .animate-service .service-head img {
        @apply transform-none;
    }
    .animate-service .service-foot::after {
        right: 0;
        bottom: calc(100% - 28px);
        @apply border-black;
        @apply border-t-2;
        @apply transform-none;
    }
    .animate-service .service-foot::before {
        @apply transform-none;
    }
    .carousel-cell {
        height: 300px;
        margin-right: 10px;
        border-radius: 5px;
        counter-increment: gallery-cell;
    }
    .fade-img img {
        transform: unset;
        opacity: 1;
    }
    .image-viewer {
        background-color: #ffffff9f;
    }
    .image-viewer:not(.translate-x-full) .zoom-out {
        @apply transform-none;
    }
    .form.show-form input,
    .form.show-form textarea {
        @apply opacity-100;
        @apply w-full;
    }
    .form.show-form button,
    footer.show-text p {
        @apply transform-none;
        @apply opacity-100;
    }
    footer.show-text::after {
        @apply scale-100;
    }
    .my-link::after {
        animation: link 1500ms infinite linear alternate-reverse;
    }
    @keyframes link {
        50% {
            transform: scaleX(0.5);
        }
        100% {
            background-color: #000;
            left: calc(100% + 8px);
        }
    }
}